<div *ngIf="orders == null" class="text-center" style="min-height: 300px;">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="card my-4" *ngIf="orders != null">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Order List</h6>
        </div>
    </div>
    <div class="ms-md-auto pe-md-3 d-flex mt-4">
        <div class="input-group input-group-outline">
            <input placeholder="Search..." type="text" class="form-control" #search (input)="getOrderByPhone(search.value)">
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <table class="table">
                <thead>
                    <tr>

                        <th>Name User</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of orders | paginate: { itemsPerPage: 5, currentPage: cp };let i = index">

                        <td>{{item.nameUser}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.address}}</td>
                        <td [class]="item.status == true ? 'badge bg-success mt-2' : item.status == false ? 'badge bg-warning mt-2':'badge bg-danger mt-2'" [innerText]="item.status == true ? 'Approved' : item.status == false ? 'Pending Approval':'Reject'"></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/admin/detail-order',item.id]">
                                    <i class="fa fa-file"></i>
                                    Details
                                </button>
                                <button *ngIf="item.status == false" type="button" class="btn btn-sm btn-success" (click)="updateOrder(item.id)">
                                    <i class="fa fa-check"></i>
                                    Approve
                                 </button>

                                <button *ngIf="item.status == false" type="button" class="btn btn-sm btn-danger" (click)="rejectOrder(item.id)">
                                    <i class="fas fa-times"></i>
                                    Reject
                                 </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="6">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <pagination-controls (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>