<button type="button" class="btn btn-success" [routerLink]="['/admin/create-product']">
    <i class="fas fa-plus-square"></i>
    Create
</button>
<br>
<br>
<div *ngIf="products == null" class="text-center" style="min-height: 300px;">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="card my-4" *ngIf="products != null">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Product List</h6>
        </div>
    </div>
    <div class="ms-md-auto pe-md-3 d-flex mt-4">
        <div class="input-group input-group-outline">
            <input placeholder="Search..." type="text" class="form-control" #search (input)="getProductsByName(search.value)">
        </div>
    </div>
    <div class="card-body px-0 pb-2 mr-4 ms-4">
        <div class="table-responsive p-0">
            <table class="table table-hover">
                <h5 *ngIf="notFound == true" class="text-danger text-center" style="margin-bottom: 300px;">Not found any result</h5>
                <thead *ngIf="products.length > 0">
                    <tr>
                        <th>&nbsp; Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Promotion Price</th>
                        <th>Created On</th>
                        <th>Updated On</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of products | paginate: { itemsPerPage: 5, currentPage: cp };let i = index">

                        <td>
                            <div class="d-flex">
                                <div>
                                    <img src="{{'data:image/jpeg;base64,' + item.image}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{item.name}}</h6>
                                </div>
                            </div>

                        </td>
                        <td>{{item.quantity}}</td>
                        <td>${{item.price}}</td>

                        <td style="text-align: center;">{{item.promotionPrice}}%</td>
                        <td>{{item.createdOn | date}}</td>
                        <td>{{item.updatedOn | date}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-sm btn-danger" (click)="deleteProduct(item.id)">
                        <i class="fas fa-trash"></i>
                        Delete
                    </button>
                                <button type="button" class="btn btn-sm btn-warning" [routerLink]="['/admin/edit-product',item.id]">
                        <i class="fas fa-pen-square"></i>
                        Update
                    </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="products.length > 5">
                    <tr>
                        <td colspan="9">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <pagination-controls (pageChange)="cp = $event" previousLabel="" nextLabel=""></pagination-controls>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>